*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    background: black;
}


.container{
  color: #555;
  background: black;
  padding: 10px 50px 50px 50px;
  margin: 50px;
  font-size: 2.5vw;
  border-right: 5px solid #4ba173;
  box-shadow: 0 6px 10px 0 rgba(150, 150, 150, 0.2), 0 8px 22px 0 rgba(150, 150, 150, 0.19);

}



#Profile{
  border-radius: 10px;
  border: 5px #4ba173 solid;
  margin: 30px;
  image-rendering: auto;
  width: 30%;
  height: 30%;

}


h2{
  color: #4ba173 ;
}



.linked{
  box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.2), 0 6px 20px 0 rgba(150, 150, 150, 0.19);
  margin: 30px;
  width: 30%;
  height: 30%;
  
}

.linked:hover{
  box-shadow: 0 4px 8px 0 rgba(75, 161, 115, 0.2), 0 6px 20px 0 rgba(75, 161, 115, 0.19);


}



#copy{
  text-align: center;
  margin: 50px;
  font-size: 2.5vw;
}

.css-typing{
  background: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 0px;
  margin: 0px;
  
}


.css-typing p {
  border-right: .15em solid #4ba173;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 7vw;
  color: #555;

}
.css-typing p:nth-child(1) {
  width: 70vw;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;


}

.css-typing p:nth-child(2) {
  width: 90vw;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 33vw;
  opacity: 0;
  -webkit-animation: type3 3s steps(8, end), blink .5s step-end infinite alternate;
  animation: type3 3s steps(8, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #4ba173;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #4ba173;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #4ba173;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #4ba173;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}







  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #Profile{
    float: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #Profile{
    float: left;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #Profile{
    float: left;
  }
}
/*
body {
    background-color: white;
    color: #0B0C10;
    font-size: 22px;
    font-weight: normal;
    line-height: 2em;
    
}
h1 {
color: blue;
}

.general{
    background-color: #1F2833;
    margin: 0;
}
.container{
    width: 100%;
    border-right: 5px red solid;
    
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    
    
}


.container p{
    color: orange;
}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: black;
}

a:active{
    color: blue;
}

#copy {
    font-family: 'Lobster', cursive;
    color:   #66FCF1;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black,  rgba(255, 255, 255, 0));
}

  #0B0C10 //Black
  #1F2833 //Dark grey
  #C5C6C7 //Grey
  #66FCF1 //Bright
  #45A29E //Darker Bright
  */